/* --------------Fuentes-------------- */
@font-face {
    font-family: "Bellerose"; /* Para titulos */
    src: url("../fonts/Bellerose/Bellerose.ttf") format("truetype");
}
@font-face {
    font-family: "Nesans"; /* Para textos */
    src: url("../fonts/Nesans/Nesans.ttf") format("truetype");
}
/* --------------Fuentes-------------- */

/* --------------Globales-------------- */
:root {
    --colorPrincipal: #ffa0c6;
    --colorSecundario: #ff80b3;
    --colorTerciario: #ffc0d9;
    --colorCuarto: #ffdfec;
    --blanco: #fff;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nesans';
    font-size: 1.5rem;
    text-decoration: none;
}
body {
    background-color: var(--colorCuarto);
}

/* Titles */
h1, h2, h3, h4, h5 {
    font-family: 'Bellerose';
}
h1, h1 span {
    font-size: 2.7rem;
    margin-top: -2.7rem;
    color: var(--blanco);
}
h2 {
    font-size: 2rem;
    margin-top: -2rem;
}
h3 {
    font-size: 1.5rem;
    margin-top: -1.5rem;
}
/* Titles */

/* --------------Globales-------------- */

/* --------------Header-------------- */
.header {
    background: linear-gradient(90deg, var(--colorCuarto), var(--colorTerciario), var(--colorPrincipal), var(--colorTerciario), var(--colorCuarto));
}
.header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__nav-ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1.5rem 0;
    background-color: #0006;
    backdrop-filter: blur(.08rem);
    position: sticky;
    top: 0;
    list-style: none;
}
.header__nav-ul a {
    color: var(--blanco);
    padding: .25rem 0;
    position: relative;
}
.header__nav-ul a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    content: '';
    width: 0;
    height: .2rem;
    background-color: var(--colorTerciario);
    transition: all .3s;
}
.header__nav-ul a:hover::after {
    left: 0;
    width: 100%;
}
.header__nav-title a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__nav-title a img {
    width: 10rem;
}
/* --------------Header-------------- */